extends layout

block content
	h1 Backups
	.row
	each file in files
		li
			a(href='/backups/file/'+file.filename)= file.filename
			//- button.btn.btn-primary(onclick='doBackup("'+file.filename+'")') Do Backup
			form(method='POST', action='/backups/restore/' + file.filename)
				button.btn.btn-primary.pull-right(type='submit', value='Restore') Restore