extends layout

block link
  -var selected = 'Backups';

block content
  .row
    h3 Make a Manual Backup
      form(method='POST', action='/backups/makebackup')
        button.btn.btn-primary(type='submit', value='backup') Backup
    h3 Download or Restore Backup
    div.card
      div.card-header(data-background-color='purple')
          h4.title Backups
      div.card-content.table-response
        table.table#backupTable
          thead.text-primary
            th Backup Date
            th Download File (Click to download tar)
            th Restore
            th Delete
          tbody
          each file in files
            tr
              td
                p= file.uploadDate
              td
                a(href='/backups/file/'+file.filename)= file.filename
              td
                form(method='POST', action='/backups/restore/' + file._id)
                  input.hide(type='string', name='filename', value=file.filename)
                  button.btn.btn-primary(type='submit', value='Restore') Restore
              td
                form(method='POST', action='/backups/delete/' + file._id)
                  button.btn.btn-primary(type='submit', value='Delete') Delete
    div.pages(style="text-align:center;")
      .col-md-12
        form(action="/backups/" + (parseInt(page)-1).toString(), method="get" style="display: inline-block;")
          button.btn.btn-white(type="submit" style="padding: 5px;") <
        p(style="padding: 10px; display: inline-block;") Page #{parseInt(page)}
        if maxPage
          form(action="/backups/" + (parseInt(page)).toString(), method="get" style="display: inline-block;")
          button.btn.btn-white(type="submit" style="padding: 5px;") >
        else
          form(action="/backups/" + (parseInt(page)+1).toString(), method="get" style="display: inline-block;")
            button.btn.btn-white(type="submit" style="padding: 5px;") >


        