extends layout

block link
  -var selected = 'Backups';

block content
  .row
    h3 Download or Restore Backup
    div.card
      div.card-header(data-background-color='purple')
          h4.title Backups
      div.card-content.table-response
        table.table#backupTable
          thead.text-primary
            th Backup Date
            th Download File (Click to download tar)
            th Restore
          tbody
          each file in files
            tr
              td
                p= file.uploadDate
              td
                a(href='/backups/file/'+file.filename)= file.filename
              td
                form(method='POST', action='/backups/restore/' + file._id)
                  input.hide(type='string', name='filename', value=file.filename)
                  button.btn.btn-primary(type='submit', value='Restore') Restore


        