extends layout

block link
  -var selected = 'Backups';

block content
  .row
    h1 Backups
    h3 Restore
    form(method='POST', action='/backups/restore')
      input(type='file', name='file', required='')
      button.btn.btn-primary(type='submit', value='Restore') Restore

  .row
    h3 Download Backup
    div.card
      div.card-header(data-background-color='purple')
          h4.title Backups
      div.card-content.table-response
        table.table#backupTable
          thead.text-primary
            th Backup Date
            th Download File (Click to download tar)
          tbody
          each file in files
            tr
              td
                p= file.uploadDate
              td
                a(href='/backups/file/'+file.filename)= file.filename


        