extends layout
block link
  -var selected = 'cart';

block content
  .row
    .card
      .card-header(data-background-color='purple')
        h2.title Cart
      .card-content
        .col-md-11
          h3 Ingredients
          each ingredient in ingredients
            p #{ingredient.ingredient}
        .col-md-1
          h3
            br
          each ingredient in ingredients
            p Pounds: #{ingredient.quantity}
