extends layout

block css
  link(href='/stylesheets/error.css', rel='stylesheet')

block content
  .floatleft
    img(src="/img/broken-plate.png")
  .floatright
    .error-text
      h1= "Something went wrong!"
      p #{message}
