extends layout
block link
  -var selected = 'Home';
block content
  h1= title
  p Please take a look at the developer documentation and deployment guide #[a( href='https://lucytheanimefan.gitbooks.io/hypothetical-meals/chapter1.html' ) here]
