extends layout

block content
  h1= 'Create new ingredient'
  form(action='/ingredients/new', method='post')
    input(type='text', name='name', placeholder = 'Ingredient name', required='')
    input(type='text', name='package', placeholder = 'Package type', required='')
    input(type='text', name='temperature', placeholder = 'Storage temperature', required='')
    input(type='number', name='amount', placeholder = 'Amount in storage', required='')
    input(type='submit', value='add ingredient')