extends layout

block content
	form(action='/ingredients/new', method='post')
		input(type='text', name='name', required='')
		input(type='text', name='package', required='')
		input(type='text', name='temperature', required='')
		input(type='submit', value='add ingredient')