extends layout

block content
  h1= 'Update Inventory Limits'
  form(action='/inventory/update_limits', method='post')
    .form-group
      label.control-label Frozen Limit
      input.form-control(type='number', name='frozen', placeholder = 'Frozen Limit', value=frozen) 
    .form-group
      label.control-label Refrigerator Limit
      input.form-control(type='number', name='refrigerated', placeholder = 'Refrigerator Limit', value=refrigerated) 
    .form-group
      label.control-label Room Limit
      input.form-control(type='number', name='room', placeholder = 'Room Limit', value=room)
    button.btn.btn-primary.pull-right(type='submit', value='update') Update
