extends layout
block link
  -var selected = 'users';
block content
  h1 Login
  .w3
      .signin-form.profile
          .login-form
            form(action='/users', method='post')
              .form-group.label-floating
                label.control-label Email
                input.form-control(type='text', name='logemail', placeholder='E-mail', required='')
              .form-group.label-floating
                label.control-label Password
                input.form-control(type='password', name='logpassword', placeholder='Password', required='')
              button.btn.btn-primary(type='submit', value='LOGIN NOW') Login
      //- .agile
      //-   .signin-form.profile
      //-     h3 Register
      //-     .login-form
      //-       form(action='/users', method='post')
      //-         input(type='text', name='email', placeholder='E-mail', required='')
      //-         input(type='text', name='username', placeholder='Username', required='')
      //-         input(type='password', name='password', placeholder='Password', required='')
      //-         input(type='password', name='passwordConf', placeholder='Confirm Password', required='')
      //-         input(type='submit', value='REGISTER')
      //-     p
      //-       a(href='#')  By clicking register, I agree to your terms
      .clear
