extends layout
block link
  -var selected = 'users';
block content
  h1 Login
  .w3
      .signin-form.profile
          .login-form
            form(action='/users', method='post')
              .form-group.label-floating
                input.form-control(type='text', name='logemail', placeholder='Username', required='')
              .form-group.label-floating
                input.form-control(type='password', name='logpassword', placeholder='Password', required='')
              button.btn.btn-primary(type='submit', value='LOGIN NOW') Login
      hr(style='color: purple; border: 1px solid; font-size: 12px;') 
      a.btn.btn-primary(href='/duke_oauth/auth') Login with NetID


block scripts
  script.
    getAccessTokenHash();