extends layout
block link
  -var selected = 'users';

block content
  .row
  .col-md-13
    .card
      .card-header(data-background-color='purple')
        h4.title Edit Profile
        p.category Complete your profile
      .card-content
        form(action='/users/update', method='post')
          .row
            .col-md-6
              .form-group.label-floating
                label.control-label Username
                input.form-control(type='text',name='username', value=username)
            .col-md-6
              .form-group.label-floating
                label.control-label Email address
                input.form-control(type='email', value=email, name='email', readonly)
          .row
            .col-md-12
              .form-group.label-floating
                label.control-label Password
                input.form-control(type='password', name='password')
          
          button.btn.btn-primary.pull-right(type='submit') Update Profile
          .clearfix
    a(href='/duke_oauth/auth') Login with NetID
block scripts
  script.
    getAccessTokenHash();
    
